@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: 'Work Sans-Regular';
    src: url('../fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'Work Sans-Light';
    src: url('../fonts/Work_Sans/static/WorkSans-Light.ttf');
}

@font-face {
    font-family: 'Work Sans-SemiBold';
    src: url('../fonts/Work_Sans/static/WorkSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Libre-Italic';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf');
}

.section_1_left p {
    font-family: sans-serif;
    color: #336666;
    font-weight: bold;
    font-size: 45px;
}

.nav-right {
    font-family: 'Work Sans-Regular';
}

.section_1_right p {
    font-family: 'Libre-Italic';
    color: #A6B739;
    font-size: 65px;
    padding-left: 14%;
    margin-top: 5%;
}

.section_1_left {
    background-image: url('../images/Purity.psd.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.section_1_descrip p {
    font-family: 'Work Sans-Light';
    color: #70431D;
    padding-left: 14%;
}

.section_2 {
    background-color: rgb(166 183 57 / 21%);
}

.ingri {
    padding-top: 20%;
    padding-bottom: 5%;
    padding-left: 30%;
}

.section_4 {
    background-color: rgb(166 183 57 / 21%);
}

.tailor {
    font-family: 'Libre-Italic';
    color: #336666;
    font-size: 65px;
}

.phase {
    font-family: 'WorkSans-Regular';
    letter-spacing: 1.22px;
    color: #336666;
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.section_5 {
    background-color: #A7B839;
}

.pure {
    font-size: 3.2vw;
    display: inline-block;
    letter-spacing: 2.21px;
    font-family: 'WorkSans-Regular';
    color: #336666;
}

.section_6 {
    background-image: url('../images/Group 130.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.healthy {
    font-size: 65px;
    font-family: 'Libre-Italic';
    color: #A7B839;
    padding-left: 30%;
    margin-bottom: 5%;
}

.network {
    border: 1px solid #ffffff;
    background-color: #A6B739;
    color: #ffffff;
    border-radius: 30px;
    padding: 12px;
    margin-left: 30%;
    width: 50%;
    margin-top: 4%;
    font-family: 'Work Sans-Light';
    font-size: 20px;
}

.nayaki {
    font-size: 50px;
    font-family: 'WorkSans-Regular';
    color: #A7B839;
}

.products {
    font-size: 50px;
    font-family: 'Libre-Italic';
    color: #336666;
}

.section_9 {
    background-color: #A7B839;
}

.footer-list {
    list-style-type: none;
    padding-left: 0%;
    font-family: 'WorkSans-Regular';
    color: #336666;
    font-size: 20px;
}

.footer-list li {
    cursor: pointer;
}

#email {
    background-color: transparent;
    color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-family: 'WorkSans-Regular';
    font-size: 20px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ffffff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ffffff;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #ffffff;
}

.form-control:focus {
    color: #ffffff;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.reverse {
    flex-direction: row-reverse;
}

footer {
    padding-bottom: 5%;
}


/* .section_3 {
    background-image: url('../images/Group 130.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */